body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(246, 250, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: black;
}



/* navbar  */
.nav {
  width: 280px; /* Set the width of the sidebar */
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4d675b; 
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: auto;
  padding-top: 30px;
  height: 100vh;
  border-right: 10px solid white;
}
.links-div {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav-links {
  padding: 10px 15px 10px 15px;
  margin-left: 5px;
  font-family: 'Sofia', sans-serif;
  color: white;
  font-size: 22px;
  opacity: 75%;
  background-image: linear-gradient(
  to right,
  black,
  black 50%,
  white 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  display:inline-block;
  padding: 15px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navLogoutDiv{
  padding-top: 50px;
  padding-left: 20px;
}

.navLogout{
  position:relative;
  padding:10px 20px;
  background: #fae6b1;
  font-family: 'Sofia', sans-serif;
  font-size:22px;
  border-radius:10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: inset 0 0 0 0 #dc8d04;
  color: #31525b;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  opacity: 90%;
}

.navLogout:hover {
  cursor: pointer;
  /* font-family: fantasy; */
  box-shadow: inset 150px 0 0 0 #ffa101;
  color: #fae6b1;
  opacity: 90%;
  
}

.nav-links:hover {
  background-position: 0;
  opacity: 100%;
  /* font-family: fantasy; */
  
}

/* destination card */
h2 {
  color: #31525B;
  font-weight: 500;
}
.outer-div {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.outer-div .house-card {
  position: relative;
  width: 1000px;
  display: flex;
  /* flex: 10 10 500px; */
  flex-direction: column;
  margin: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 20px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #31525B;
  transition: 0.3s;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.outer-div .house-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}
.outer-div .house-card .button-div {
  height: 200px;
}
.outer-div .house-card .button-div .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}
.outer-div .house-card .button-div .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.outer-div .house-card .button-div .content .btn:hover {
  background: white;
  border: 0px solid white;
  color: #31525B;
}
.outer-div .house-card .information-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #F0F0F0;
  transform: translateY(206px);
  transition: 0.3s;
}
.outer-div .house-card .information-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.outer-div .house-card .information-container .title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  background: #31525B;
}
.outer-div .house-card .information-container .subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.outer-div .house-card .information-container .more-information {
  opacity: 0;
  transition: 0.3s;
}
.outer-div .house-card .information-container .more-information .ratings-and-price-container {
  display: flex;
}
.outer-div .house-card .information-container .more-information .ratings-and-price-container .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;
}
.outer-div .house-card .information-container .more-information .ratings-and-price-container .box.ratings {
  color: #FFA101;
  margin-right: 10px;
}
.outer-div .house-card .information-container .more-information .description {
  margin-top: 20px;
  font-size: 0.8em;
  color: #7D7D7D;
}
.outer-div .house-card:hover::before {
  background: rgba(10, 72, 112, 0.6);
}
.outer-div .house-card:hover .button-div .content {
  opacity: 1;
  transform: translateY(0px);
}
.outer-div .house-card:hover .information-container {
  transform: translateY(0px);
}
.outer-div .house-card:hover .information-container .more-information {
  opacity: 1;
}
@media (max-width: 768px) {
  .outer-div .house-card::before {
      background: rgba(10, 72, 112, 0.6);
}
.outer-div .house-card .button-div .content {
      opacity: 1;
      transform: translateY(0px);
}
.outer-div .house-card .information-container {
      transform: translateY(0px);
}
.outer-div .house-card .information-container .more-information {
      opacity: 1;
}
}

/* my reviews */
h1 {
  font-family: 'Bad Script', cursive;
  font-size: 50px;
  color: #044a10;
  opacity: 90%;
}

.reviews-header-div{
  margin-top: 3%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: 50%;
}

.reviews-container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.review{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  padding: 1rem;
  margin: .5rem;
  border-radius: 5%;
}

/* review card */
.review-card-outer-div{
  overflow: hidden; 
  border-radius: 0.25rem; 
}
/* loginform */
.login-title {
  text-align: center;
  margin: 15px;
  font-family: 'Bad Script', cursive;
  font-size: 20px;
  color: #150301;
  opacity: 90%;
}
.login-form-box {
  top: 150px;
  display:block;
  left: 450px;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  min-width: 27%;
  height: 300px;
  margin: 10px;
  padding: 5vw ;
  position:relative;
  background-color:  rgba(87, 127, 89, 0.5);
  opacity: 90%;
}
.login-form-box label {
  display: block;
  
  text-align: center;
  font-family: 'Sofia', sans-serif;
  font-size: x-large;
  color: rgb(12, 12, 12);
  margin: 0 0 2vh 0;
}
.text-area{
  width: 10px;
}
.login-form-box input, textarea {
  display: block;
  width: 100%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border:0.5;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  font-size: 20px;
  font-family: 'Sofia', sans-serif;
}
.loginInputs:hover {
  color:rgb(24, 116, 187);
  transform: skew(-10deg);
  border: 3px solid rgb(24, 116, 187);
}
.login-form-box textarea {
  height: 15vh;
}
.login-button {
margin: 10px;
padding: 15px 30px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
border-radius: 10px;
display: block;
border: 0px;
font-weight: 700;
box-shadow: 0px 0px 14px -7px #98a797;
background-image: linear-gradient(45deg, #056306 0%, #4e6a02  51%, #f8f0ee  100%);
cursor: pointer;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}
.login-button:hover {
background-position: right center;
/* change the direction of the change here */
color: #fff;
text-decoration: none;
}
.login-button:active {
transform: scale(0.95);
}
/* signupform */
.signup-form-box {
  display: flex;
  left: 500px;
  top: 50px;
  background-color:  rgba(87, 127, 89, 0.5);

  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 460px;
  margin: 10px;
  padding: 5vw ;
  position:relative;
  opacity: 90%;
  border-radius: 10px;
}
.signup-title {
  text-align: center;
  margin: 15px;
  font-family: 'Bad Script', cursive;
  font-size: 40px;
  color: #3d4405;
  opacity: 90%;
}  min-width: 10%;

.signup-form-box label {
  display: block;
  text-align: center;
  font-family: 'Sofia', sans-serif;
  font-size: x-large;
  color:rgb(18, 17, 17);
  margin: 0 0 2vh 0;
}
.signup-form-box input, textarea {
  display: block;
  width: 100%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border:0.5;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  font-size: 20px;
  font-family: 'Sofia', sans-serif;
}
.signup-form-box textarea {
  height: 15vh;
}
.signupInputs:hover {
  color:rgb(24, 116, 187);
  transform: skew(-10deg);
  border: 3px solid rgb(24, 116, 187);
}
.signup-button {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #125722;
  background-image: linear-gradient(45deg, #056306 0%, #4e6a02  51%, #f8f0ee  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.signup-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.signup-button:active {
  transform: scale(0.95);
}
.copyright{
  font-size: 20px;
  margin-top: 200px;
}

/* booking */
.name{
  text-align: center;
  /* margin-right: -35rem; */
} 
.information{
  display: flex;
  flex-direction: row;
}
.booking{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.details{
  width: 20rem;
  margin-left: 5rem;
}
.book-visit{
  margin-left: 300px;
}
.book{
  height: 200px;
  margin: 10px;
  padding: 5vw ;
  position:relative;
  background-color: rgba(211, 212, 211, 0.5);
  opacity: 90%; 
}

.date{
font-size: 25px;
margin-right: 30px;

}
.book-btn{
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(250, 251, 248);
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(45deg, #056306 0%, #4e6a02  51%, #f8f0ee  100%);
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
h4{
  margin-top: 100px;
  font-size: 35px;
margin-left: 600px;
color: #044a10;
}
.account{
  margin-left: 500px;
  margin-top: 200px;
  font-size: 25px;
}
.sign{
  margin-left: 500px;
  margin-top: 80px;
  font-size: 25px;
}

/* visit card */
visit-outer-div {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.visit-outer-div .visit-card {
  position: relative;
  width: 300px;
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #31525b;
  transition: 0.3s;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.visit-outer-div .visit-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}
.visit-outer-div .visit-card .visit-form-div {
  height: 200px;
}
.visit-outer-div .visit-card .visit-form-div .visit-content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}
.visit-outer-div .visit-card .visit-information-container .more-information .from-and-to-container {
  display: block;
}
.visit-outer-div .visit-card .visit-information-container .visit-more-information .from-and-to-container .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;
}
.visits-header-div{
  margin-top: 3%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: 50%;
}

.all-my-visits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 400px
}